<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">

<!-- Added parallel="methods" to run every @Test method at the same time -->
<!-- Added thread-count="3" to spin up 3 browser sessions concurrently -->

<suite name="OrangeHRM Automation Suite V2" parallel="methods" thread-count="3">
<!--<suite name="OrangeHRM Automation Suite V2">-->
    <listeners>
        <listener class-name="com.dulinie.automation.listeners.TestNGListener"/>
        <listener class-name="com.dulinie.automation.listeners.RetryTransformer"/>

    </listeners>


    <test name="Orange HRM Test Suite">
        <classes>
           <class name="com.dulinie.automation.tests.LoginTest"/>
            <class name="com.dulinie.automation.tests.DashboardTest"/>
           <!-- <class name="com.dulinie.automation.tests.LoginDataDrivenTest"/>-->
            <class name="com.dulinie.automation.tests.AdminTest"/>
             <class name="com.dulinie.automation.tests.AddUserPageTest"/>

        </classes>
    </test>
</suite>